*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #1C1C1C;
}

form {
  max-width: 350px;
  margin: 1px auto;
  padding: 1px;
  border: 1px solid #1C1C1C;
}

input[type="id"],
input[type="summ"],
input[type="file"],
input[type="message"],
select {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 26px;
  background-color: #bc1a63;
  border: 1px solid #bc1a63;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  outline: 0;
  color: #f8f8f8;
  background: #232121;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 7px;
  box-shadow: 0 1px 0 #bc1a63 inset;
  margin-bottom: 16px;
  transition: all .2s ease;
}

input::placeholder {
  color: #232121;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #ea6e48;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 26px;
  background-color: #0f868c;
  border: 1px solid #0f868c;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  color: #f7f3f3;
  background: #232121;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 7px;
  margin-bottom: 16px;
}

fieldset {
  margin-bottom: 28px;
  border: none;
}

legend {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 16px;
}

label {
  display: block;
  line-height: 24px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}

label.light {
  font-weight: 300;
  display: inline;
}

.footer{
  margin-top: 100px;
  padding: 100px 0px;
  height: 100px;
  background: #1C1C1C;
  flex: 0 0 auto;
}

.footer h4{
  display: block;
  line-height: 24px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 600;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}
.copyright p {
    text-align: center;
    font-size: 14px;
    color: #f8f8f8;
    border-top: 1px dotted #f8f8f8;
    padding:100px 0px;
}
.copyright p a{
  color:#f8f8f8;
}
.copyright p a:hover{
  text-decoration:underline;
}
